<div class="footer">
	<div class="part1">
		<ul>
			<li><h1> <a routerLink="">Emily Rewards</a></h1></li>
			<li><button class="apple-button" (click)="appleStoreAction()"></button><button class="android-button" (click)="googleStoreAction()"></button></li>
		</ul>
		
	</div>
	<div class="part2">
		<ul>
			<li><a (click)="goToLink('https://emilyrewards.com/terms')">Terms and Conditions</a></li>
			<li><a (click)="goToLink('https://emilyrewards.com/privacy')">Privacy Policy</a></li>
			<li><a (click)="goToLink('https://emilyrewards.com/faq')">FAQ's</a></li>
		</ul>
	</div>
</div>
