.landing-view {
	@media (max-width: 992px) {
		margin-top: 140px;
	}

	justify-content: center;
	display: flex;
	margin-top: 90px;
}

.landing-view-content {
	@media (max-width: 992px) {
		width: 95%;
		border: 0px solid blue;
	}

	width: 40%;
	height: 300px;
	border: 1px solid #c7c7c7;
	border-radius: 5px;
	text-align: center
}

.landing-view-content h3 {
	color: black;
	font-size: 14px;
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 30px;
}

.landing-view-content h5 {

	padding-top: 70px;
	font-size: 14px;
}

.landing-view-content h5 a {
	color: #02b4ec;
	text-decoration: none;
	cursor: pointer;
	bottom: 0px;
	font-size: 16px;
}