<div class="forgotpassword">
	<h1>Forgot Password</h1>
	<form class="commonForm" #forgotform="ngForm" (submit)="sendEmail(forgotform.value)">
		<div class="error-div" *ngIf="email && email.invalid && email.touched">
			<span class="error-message" >Please enter valid email address.</span>
		</div>
		<input name="email" class="formInput" type="email" placeholder="Enter your email" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" #email='ngModel' ngModel/>
		<button class="commonButton" style="margin-top: 40px;" [disabled]="forgotform.invalid">Submit</button>
	</form>
</div>
