<div class="container">
	<h1>Checkout</h1>
	<div class="row" style="background-color: #f4f4f4; border-radius: 5px; margin-bottom: 10px; padding: 10px;"
		*ngFor="let product of productslist">
		<div class="col-sm-2 col-lg-2">
			<img class="order-image" [src]="product.logoUrl" style="width: 50%; height: 50%; margin: 30px;">
		</div>
		<div class="col-sm-6 col-lg-8">
			<h2 class="card-title">{{product?.productName}}</h2>
			<p class="card-text">
				{{product?.description}}
			</p>
			<ng-container *ngIf="product?.dicountedPrice != '0.00' ; then discount; else withoutdiscount">
			</ng-container>
			<ng-template #discount>
				<div class="priceing">
					<div class="actualPrice">${{product?.displayPrice}}</div>
					<div class="seprator"></div>
					<div class="discountPrice">${{product?.dicountedPrice}}</div>
					<div class="percentage">
						%{{this.constants.calculatePercentage(product!)}}</div>
				</div>
			</ng-template>
			<ng-template #withoutdiscount>
				<div class="priceing">
					<div>${{product?.displayPrice}}</div>
				</div>
			</ng-template>
			<div class="quantity">
				<button class="btn-qty" (click)="this.constants.btn_subtractQty_Action(product!)">-</button>
				<p class="txt-qty">{{product?.offerQuantity}}</p>
				<button class="btn-qty" (click)="this.constants.btn_addQty_Action(product!)">+</button>
			</div>
		</div>
		<div class="col-sm-2 col-2">
			<p class="txt-qty" style="height: 100%; padding-top: 60px;">${{calculateProductTotal(product).toFixed(2)}}
			</p>
		</div>
	</div>
	<div #redeem class="opion" *ngIf="isRedeemAvailable()">
		<div class="col-10" style="display: flex;">
			<img class="icon" src="assets/images/android.png" width="50" height="40"/>
			<p style="padding-top: 13px;">{{redeemLableTextSetting()}}</p>
		</div>
		<div class="col-2" style="text-align: right">
			<button class="redeemButton">Redeem</button>
		</div>
	</div>
	<div #gratuity class="opion" *ngIf="isGratuityEnabled()"> 
		
	</div>
	<div #cashDiscount class="opion" *ngIf="isCashDiscountAvailable()">
		<div class="col-10" style="text-align: left; display: flex;">
			<img class="icon" src="assets/images/android.png" width="50" height="40"/>
			<p style="padding-top: 13px;">Cash discount</p>
		</div>
		<div class="col-2" style="text-align: right">
			<button class="redeemButton">Apply</button>
		</div>
	</div>
	<div #coupon>
		<div class="opion" *ngIf="promotion?.couponCode" style="display: flex;">
			<div class="col-10" style="text-align: left">
				<img class="icon" src="assets/images/android.png" width="50" height="40"/>
				<p style="padding-top: 13px;">$30 coupon discount applied</p>
			</div>
		</div>
		<div class="opion" *ngIf="!promotion?.couponCode" style="display: flex;">
			<div class="col-10" style="text-align: left;">
				<img class="icon" style="padding-bottom: 10px;" src="assets/images/android.png" width="50" height="40"/>
				<input style="margin-top: 13px; width: 200px;" (keyup)="onKeyCouponfield($event)" placeholder="Enter coupon code">
			</div>
			<div class="col-2" style="text-align: right;">
				<button class="redeemButton">Apply</button>
			</div>
		</div>
	</div>
	<div #giftCards class="opion" *ngIf="appliedGiftsArray.length > 0">

	</div>
	<div #giftCards class="opion" style="display: table-row;">
		<div class="form-check">
			<input
			  mdbRadio
			  class="form-check-input"
			  type="radio"
			  name="flexRadioDefault"
			  id="flexRadioDefault1"
			  [checked]="false"
			  (change)="orderTypeSetting('pickup')"
			/>
			<label #typeLabel class="form-check-label" for="flexRadioDefault1"> Pickup </label>
		  </div>

		  <!-- Default checked radio -->
		  <div class="form-check">
			<input
			  mdbRadio
			  class="form-check-input"
			  type="radio"
			  name="flexRadioDefault"
			  id="flexRadioDefault2"
			  [checked]="false"
			  (change)="orderTypeSetting('delivery')"
			/>
			<label #typeLabel class="form-check-label" for="flexRadioDefault2"> Delivery </label>
		  </div>
	</div>
	<div  class="opion" *ngIf="orderTypeDeliveryOrPickup == 'delivery'" style="margin-bottom: 0px;">
		<input style="margin-top: 13px; width: 100%;" (keyup)="onKeyCouponfield($event)" placeholder="Enter your address">
	</div>
	<div  class="opion">
		<textarea style="width: 100%;" class="span6" rows="3" placeholder="Enter comment here" required></textarea>
	</div>
	
</div>