<div class="sign-Up">
	<h1>Sign Up</h1>
	<form class="commonForm" [formGroup]="signUpform">
		<div class="error-div" *ngIf="userEmail && userEmail.invalid && userEmail.touched">
			<span class="error-message" >Please enter valid email address.</span>
		</div>
		<input formControlName="email" class="formInput" type="email" placeholder="Enter your email"/>
		
		<div class="error-div" *ngIf="userFirstName && userFirstName.invalid && userFirstName.touched">
			<span class="error-message" >First name is required.</span>
		</div>
		<input formControlName="firstName" class="formInput" type="text" placeholder="Enter your first name"/>
		
		<div class="error-div" *ngIf="userLastName && userLastName.invalid && userLastName.touched">
			<span class="error-message" >Last name is required.</span>
		</div>
		<input formControlName="lastName" class="formInput" type="text" placeholder="Enter your last name"/>
		
		<div class="error-div" *ngIf="userPassword && userPassword.invalid && userPassword.touched">
			<span class="error-message" >Password should be contain 8 characters including Number, uppercase,<br/>lowercase letter, spacial character.</span>
		</div>
		<input maxlength="40" formControlName="password" class="formInput" type="password" placeholder="Enter your password"/>

		<div class="error-div" *ngIf="userPhone && userPhone.invalid && userPhone.touched">
			<span class="error-message" >Phone number must be at least 10 numbers</span>
		</div>
		
		<input maxlength="10" formControlName="phoneNo" class="formInput" type="number" placeholder="Enter your phone number"/>
		
		<button class="commonButton" (click)="submitForm()" style="margin-top: 20px;" [disabled]="signUpform.invalid">Submit</button>
	</form>

</div>
