.container {
	padding-bottom: 10px;
	padding-top: 10px;
}

.col-sm-3, .col-md-6, .col-lg-4{
	padding-bottom: 45px;
	padding-right: 40px;
}

.card{
	border: 1px solid #e4e4e4;
}

.card-img-top{
	height: 130px;
}

h6{
	font-weight: bold;
}

.card-text {
	font-size: 12px;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	overflow: hidden;
}