
.more{
	text-align: center;
	flex-direction: column;
	width: 100%;
	height: 100%;
	padding-left: 80px;
	padding-right: 80px;
}

.userDetail{
	margin: 20px;
}

h1{
	padding-bottom: 10px;
}

ul{
	margin: 0;
	text-decoration: none;
	list-style: none;
	padding-bottom: 20px;
}

li{
	background-color: #f4f4f4;
	text-decoration: none;
	width: 100%;
	height: 40px;
	position: relative;
    padding-left: 11px;
    margin:0 0 5px 0;
	display: flex;
    flex-direction: row;
    align-items: center;
	color: black;
	border-radius: 5px;
	cursor: pointer;
}

a{
	text-decoration: none;
	color: black;
}