<div class="more">
	<div class="userDetail">
		<qrcode [qrdata]="'myAngularxQrCode'" [width]="150" [errorCorrectionLevel]="'M'"></qrcode>
		<h1>{{this.user?.first_name}} {{this.user?.last_name}}</h1>
	</div>
	<ul>
		<li> <a routerLink="journal-list">Journal</a> </li>
		<li> <a (click)="contactUs()">Contact Us</a> </li>
		<li> <a (click)="goToLink(this.constants.termsUrl)">Terms and Conditions</a> </li>
		<li> <a (click)="goToLink(this.constants.privacyUrl)">Privacy policy</a> </li>
		<li> <a (click)="goToLink(this.constants.faqUrl)">FAQ</a> </li>
		<li> <a  (click)="aboutApp()">About</a> </li>
	</ul>
</div>
