

.forgotButton{
	@media (max-width:992px) {
		margin-left:48%;
		border: 1px solid red;
	}

	@media (max-width:1024px) {
		margin-left:65%;
		border: 1px solid yellow;
	}

	border: 1px solid blue;
	margin-left: 60%;
	color: #02b4ec;
	font-style: italic;
	font-size: 14px;
	background-color: white;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}