/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

.main-div {
	margin-left: 10px;
	margin-right: 10px;
	font-family: 'Roboto';
	flex-direction: column;
}

.header-view{
	margin-top: 0px;
	background-color: #02b4ec;
	display: flex;
	width: 100%;
	height: 10%;
}

.content{
	width: 100%;
	height: 475px;
	overflow-y: scroll;
	justify-content: center;
}

.footer{
	position: fixed;
    bottom: 0;
	background-color: #02b4ec;
	display: flex;
	width: 98.4%;
	margin: 0px;
	height: 25%;
}

.content .signIn, .sign-Up, .forgotpassword, .pinVlaidation{
	text-align: center;
	width: 50%;
	height: 100%;
	position: absolute;
  	left: 25%;
  	margin: 0 0 0 -20;
}

.commonButton {
	list-style: none;
	background-color: #02b4ec;
	width: 50%;
	height: 40px;
	color: white;
	font-family: 'Roboto-Medium';
	margin-top: 18%;
	font-size: 18px;
	border: 0px;
	border-radius: 5px;
}

.commonButton:disabled{
	list-style: none;
	background-color:lightgray;
	width: 50%;
	height: 40px;
	color: black;
	font-family: 'Roboto-Medium';
	margin-top: 18%;
	font-size: 18px;
	border: 0px;
	border-radius: 5px;
}

.commonForm{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 90%;
	margin: 10px;
}

.formInput{
	width: 80%;
	height: 40px;
	margin-bottom: 10px;
	padding-left: 5px;
	border: 1px solid #dedede;
}

.error-div{
	text-align: left;
}

.error-message{
	color: red;
	font-size: 14px;
	margin: 0px;
	align-items: start;
}

.eyeButton {
	border: 0px;
	background-color: white;
	background-image: url(./assets/images/eyeIcon.png) !important;
	float: right;
	left: 200px;
	margin-top: -40px;
	margin-right: 0px;
	margin-bottom: 20px;
	position: relative;
	z-index: 2;
	height: 25px;
	width: 30px;
	background-size: contain;
  }

.card{
	width: 30%;
	height: 100%;
	margin-right: 10px;
}

.card .cardImage{
	width: 100%;
	height: 65%;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.card .cardDetail{
	background-color: #02b4ec; 
	width: 100%; 
	height: 35%;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	margin: 0px;
	text-align: justify;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}