/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

@font-face {
	font-family: 'Poppins';
	src: url(assets/fonts/Poppins-Regular.ttf) format("truetype");
}

html, 
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden; 
}

.main-div {
	/* margin-left: 10px;
	margin-right: 10px; */
	width: 100%;
	font-family: 'Poppins';
	font-size: 14px;
	flex-direction: column;
}

.header-view {
	margin-top: 0px;
	background-color: #02b4ec;
	display: flex;
	width: 100%;
	height: 10%;
}

.content {
	@media (max-width: 992px) {
		width: 100%;
		height: 700px;
	}

	width: 100%;
	height: 525px;
	overflow-y: scroll;
	justify-content: center;
}

.footer {
	border-top: 1px solid #c7c7c7;
	position: fixed;
	bottom: 0;
	background-color: #f4f4f4;
	width: 100%;
	margin: 0px;
	/* height: 15%; */
	display: flex;
	flex-wrap: wrap;
}

.content .signIn,
.sign-Up,
.forgotpassword,
.pinVlaidation {
	@media (max-width: 992px) {
		width: 100%;
		left: 0;
	}

	/* border: 1px solid red; */
	text-align: center;
	width: 50%;
	height: 100%;
	position: absolute;
	left: 25%;
	margin: 0 0 0 -20;
}

.signIn h1,
.sign-Up h1,
.forgotpassword h1,
.pinVlaidation h1 {
	/* border: 1px solid red; */
	margin-top: 40px;
	flex: auto;
	color: #02b4ec;
	font-size: 20px;
	font-weight: bold;
}

.commonButton {
	list-style: none;
	background-color: #02b4ec;
	width: 50%;
	height: 40px;
	color: white;
	margin-top: 18%;
	font-size: 16px;
	border: 0px;
	border-radius: 5px;
}

.commonButton:disabled {
	list-style: none;
	background-color: #ececec;
	width: 50%;
	height: 40px;
	color: #acacac;
	margin-top: 18%;
	font-size: 18px;
	border: 0px;
	border-radius: 5px;
}

.commonForm {
	/* border: 1px solid red; */
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}

.formInput {
	width: 80%;
	height: 40px;
	margin-bottom: 10px;
	padding-left: 5px;
	border: 1px solid #dedede;
	border-radius: 5px;
}

.error-div {
	text-align: left;
}

.error-message {
	color: red;
	font-size: 14px;
	margin: 0px;
	align-items: start;
}


/* @media (max-width: 768px){
	.eyeButton {
		left: 250px;
	}
}

.eyeButton {
	@media (min-width: 769px) and (max-width: 1024px) {
		left: 300px;
	}
} */

.eyeButton {
	border: 0px;
	background-color: white;
	background-image: url(./assets/images/eyeIcon.png) !important;
	float: right;
	left: 220px;
	margin-top: -40px;
	margin-right: 0px;
	margin-bottom: 20px;
	position: relative;
	z-index: 2;
	height: 25px;
	width: 30px;
	background-size: contain;
}

.promotionCard {
	@media (max-width: 992px) {
		min-width: 50%;
		border: 0px solid blue;
	}
	min-width: 30%;
	margin-right: 10px;
	min-height: 100%;
	border: none;
}

.promotionCard .cardImage {
	width: 100%;
	height: 65%;
	border: none;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;

}

.promotionCard .cardDetail {
	background-color: #02b4ec;
	width: 100%;
	height: 35%;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	margin: 0px;
	text-align: justify;
	border: none;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	color: white;
	max-lines: 2;
}

.card-body {
	background-color: #02b4ec;
	color: white;
	border: none;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}