h4 {
	font-size: 20px;
	margin-top: 40px;
	flex: auto;
	color: #1d1d1d;
	padding-left: 30px;
}

.homescreen{
	width: 100%;
	/* padding: 10px; */
}

.categories{
	display: flex;
	overflow-x: scroll;
	height: 80px;
}

.promotions, .favRetailers{
	/* border: 1px solid red; */
	display: flex;
	height: 230px;
	overflow-x: auto;
	overflow-y: hidden;
	width: 95%;
    height: 95%;
    margin: auto;
	margin-bottom: 40px;
    
}